body {
  margin: 0;
  font-family: sans-serif;
  color: white; /* Default text */
}

ul {
  list-style: none;
  padding: 0;
}

h2 {
  margin-top: 20px;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #1e1e1e; Dark background */
}

.appContainer {
  text-align: center;
  width: 100%;
  max-width: 600px;
  padding: 20px;
}
/* index.css or App.css */
body, html, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', sans-serif;
}
